.soy{
    width: 100%;
    height: 350px;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.soy1{
    width: 20%;
    border-radius: 5px;
}

.soy1:hover{
    cursor: pointer;
}

.wrapper{
    margin: 50px;
    background-color: whitesmoke;
}

.soy3{
    color: red;
}
.tom{
    color: gray;
}
.rom{
    height: 15px;
}
.wit{
    color: gray;
}
.sao{
    color: blue;
}